[submodule "bundle"]
	path = bundle
	url = https://sukima@github.com/sukima/xmledit.git
[submodule "vim/bundle/xmledit-git"]
	path = vim/bundle/xmledit-git
	url = https://sukima@github.com/sukima/xmledit.git
[submodule "vim/bundle/supertab-git"]
	path = vim/bundle/supertab-git
	url = http://github.com/ervandew/supertab.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:moonranger/oh-my-zsh.git
[submodule "vim/bundle/command-t-git"]
	path = vim/bundle/command-t-git
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/vcscommands-git"]
	path = vim/bundle/vcscommands-git
	url = git://repo.or.cz/vcscommand
[submodule "vim/bundle/git-vim-git"]
	path = vim/bundle/git-vim-git
	url = git://github.com/motemen/git-vim.git
[submodule "vim/bundle/vim-colors-solarized.git"]
	path = vim/bundle/vim-colors-solarized.git
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/tslime.git"]
	path = vim/bundle/tslime.git
	url = https://github.com/xaviershay/tslime.vim
