snippet t
	==========
	${1:Title}
	==========

snippet tt
	------------
	${1:SubTitle}
	------------

snippet t1
	${1:SectionTitle}
	================

snippet t2
	${1:SubSectionTitle}
	-------------------

snippet t3
	${1:ParagraphTitle}
	^^^^^^^^^^^^^^^^^^^

